.nav {
  background-color: var(--primary-color);
  position: sticky;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: var(--height-nav);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 10;
  h1 {
    font-size: 1.3rem;
    font-weight: bold;
  }
  &__right {
    button {
      background-color: var(--terciary-color);
      color: var(--white);
      font-weight: bold;
      font-size: 1.1rem;
      padding: 7.5px 15px;
      transition: background-color linear 300ms, color linear 300ms;
      &:nth-child(2) {
        margin-left: 20px;
      }
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: var(--white);
          color: var(--terciary-color);
        }
        &:active {
          background-color: var(--terciary-color);
          color: var(--white);
        }
      }
    }
  }
}
